.sidebar-container {
    display: flex;
    height: 100%;
    .sidebar-content {
        height: 100%;
        border-right: 0.5px solid rgba(0, 0, 0, 0.199);
        .sidebar-logo {
            font-weight: 700;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 60px;
            width: 100%;
            overflow: hidden;
            transition: width 0.2s ease, opacity 0.7s ease;
            white-space: nowrap;

            &.collapsed {
                width: 100%;
                opacity: 0.5;
            }
        }
    }
}
